<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReBloxLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ReBloxLauncher.Properties.Settings>
            <setting name="version" serializeAs="String">
                <value>0.0.1310</value>
            </setting>
            <setting name="lastselectedversion" serializeAs="String">
                <value>2017L</value>
            </setting>
            <setting name="ROBLOSECURITY" serializeAs="String">
                <value />
            </setting>
            <setting name="useAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePatchInStudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearTemp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastselectedmap" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value>Player</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AccountOver13" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AssetPackEnabled" serializeAs="String">
                <value />
            </setting>
            <setting name="avatarR15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeadColor" serializeAs="String">
                <value>194</value>
            </setting>
            <setting name="TorsoColor" serializeAs="String">
                <value>194</value>
            </setting>
            <setting name="RightArmColor" serializeAs="String">
                <value>194</value>
            </setting>
            <setting name="RightLegColor" serializeAs="String">
                <value>194</value>
            </setting>
            <setting name="LeftArmColor" serializeAs="String">
                <value>194</value>
            </setting>
            <setting name="LeftLegColor" serializeAs="String">
                <value>194</value>
            </setting>
            <setting name="EnableDataStore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableBadges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChatStyle" serializeAs="String">
                <value>ClassicAndBubble</value>
            </setting>
            <setting name="ClothesArray" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordRPC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableFollowing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CADontShow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="assetFromServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Membership" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="UpdateURL" serializeAs="String">
                <value>http://f3xfileserver.servehttp.com:81</value>
            </setting>
        </ReBloxLauncher.Properties.Settings>
    </userSettings>
</configuration>
